// ------------------------------------------------HEADER

.header {
  position: relative;

  // .header__title
  &__title {
    max-width: 40%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    font-size: 200px;
    font-weight: 800;
    line-height: 0.8em;
    opacity: 0.07;
    text-align: left;
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    @media (max-height: 1000px) {
    }
  }

  @keyframes arrow-down {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }

  &__arrow-down {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 15%;
    z-index: 11;
    animation: arrow-down 0.8s linear infinite alternate;
    cursor: pointer;
  }

  // .header__aside
  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 170px;
    height: 100vh;
    border-right: 1px solid rgba(#fff, 0.25);
    text-align: center;
    @media (max-height: 1000px) {
      width: 120px;
    }
  }

  // .header__logo
  &__logo {
    width: 100%;
    display: block;
    //margin: 0px 0px 115px 0px;
    img {
      width: 100%;
    }
  }

  // .header__menu
  &__menu {
  }

  // .header__search
  &__search {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 0 40px 0;
    background: url("../img/icons/search.svg") 0 0 / cover no-repeat;
    @media (max-height: 1000px) {
      width: 16px;
      height: 16px;
      margin: 0px 0px 15px 0px;
    }
  }

  // .header__date
  &__date {
    margin: 0px 0px 40px 0px;
    font-size: 72px;
    font-weight: 800;
    line-height: 0.9em;
    span {
      display: block;
      padding: 8px 0px 0px 0px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1.4px;
      line-height: 1.1em;
      @media (max-height: 1000px) {
        font-size: 14px;
      }
    }
    @media (max-height: 1000px) {
      margin: 0px 0px 30px 0px;
      font-size: 52px;
    }
  }

  // .header__location
  &__location {
    position: relative;
    display: inline-block;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.05px;
    line-height: 1.1em;
    text-transform: capitalize;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 11px;
      height: 14px;
      background: url("../img/icons/loc.svg") 0 0 / cover no-repeat;
    }
    @media (max-height: 1000px) {
      margin: 0px 0px 40px 0px;
    }
  }
}

// ------------------------------------------------MAIN-SLIDER

.main-slider {
  position: relative;
  background: lightslategrey;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
}

// ------------------------------------------------SLIDER-ITEM

.slider-item {
  display: inline-block;
  height: 100vh;
  position: relative;
  background: lightblue;
  z-index: 10 !important; // указал для перекрытия z-indexa 999 в element.style
  // .slider-item__content
  &__content {
    position: absolute;
    right: 80px;
    bottom: 110px;
    z-index: 3;
    text-align: right;
    //background: lightpink;
    @media (max-width: $md1) {
      right: 50px;
    }
  }

  // .slider-item__subtitle
  &__desc1 {
    margin: 0px 0px 30px 0px;
    //@include subtitle-left;
    @media (max-width: $md1) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .slider-item__title
  &__title {
    margin: 0px 0px 60px 0px;
    //@include title-1;
    @media (max-width: $md1) {
      margin: 0px 0px 40px 0px;
    }
  }

  // .slider-item__subtext
  &__desc2 {
    margin: 0px 0px 30px 0px;
    //@include subtitle-left;
    @media (max-width: $md1) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .slider-item__text
  &__second-title {
    margin: 0px 0px 30px 0px;
    //@include title-2;
    @media (max-width: $md1) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .slider-item__arrow
  &__arrow {
  }
}

.slider-item-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  // .main-bg__image
  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  // .main-bg__mask
  &__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

//  Стрелка
.slick-arrow {
  width: 25px;
  height: 21px;
  position: absolute;
  top: 40px;
  z-index: 12;
  font-size: 0;
}

//  Стрелка влево
.slick-arrow.slick-prev {
  right: 125px;
  background: url("../img/icons/arrow-left.svg") 0 0 / cover no-repeat;
  @media (max-width: $md1) {
    right: 95px;
  }
}

//  Стрелка вправо
.slick-arrow.slick-next {
  right: 80px;
  background: url("../img/icons/arrow-right.svg") 0 0 / cover no-repeat;
  @media (max-width: $md1) {
    right: 50px;
  }
}

// ------------------------------------------------DOTS-SLIDER
.dots-slider {
  width: 65%;
  max-width: 920px;
  position: absolute;
  bottom: 40px;
  right: 80px;
  z-index: 10;
  margin: 0px -20px;
  @media (max-width: $md1) {
    right: 50px;
  }
  // .dots-slider__item
  &__item {
    display: inline-block;
    flex: 0 1 25%;
    padding: 0 20px;
  }
  .slick-list {
    width: 100%;
    //overflow: hidden;
  }
  .slick-track {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slick-slide.slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

// ------------------------------------------------DOTS-BOX

.dots-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 0px 0px;
  border-top: 4px solid $basisColor;

  // .dots-box__text
  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
    text-transform: capitalize;
  }
  // .dots-box__number
  &__number {
    font-size: 24px;
    font-weight: 800;
    line-height: 1em;
  }
}
.aside {
}
.logo {
}

// ------------------------------------------------MENU

.menu {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto 0px 0px 0px;
  // .menu__list
  &__list {
  }

  // .menu__item
  &__item {
    margin: 0px 0px 40px 0px;
    text-align: center;
    img {
      display: inline-block;
      margin: 0px 0px 5px 0px;
    }
    @media (max-height: 1000px) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .menu__link
  &__link {
    color: $basisColor;
  }

  // .menu__text
  &__text {
    @extend %menu-icon-text;
    text-transform: capitalize;
  }
}
