
$fontFamily: "Fira Sans";
$basisFontSize: 16px;
$basisFontWeight: 400;
$basisLineHeight: 1.2em;
$basisColor: #fff;
$basisBgColor: #171919;
$basisTextTransform: uppercase;


//--------------ЦВЕТА
$green: #4af6cd;
//--------------МАКСИМАЛЬНЫЙ РАЗМЕР КОНТЕЙНЕРА
$mw: 1440px;

//-------------BREAK-POINTS__ПЕРЕМЕННЫЕ
$minWidth: 320px;
$md1: $mw;
$md2: 767.98px;
$md3: 449.98px;


